      <div class="customImage">
        <input type="radio" name="emotion" id="profesor" value="student" (change)="onItemChange($event.target.value)" class="input-hidden" />
        <label for="profesor">
          <img
            src="assets/image/student-icon.png"
            alt="profesor" style="width:300px; height:300px"/>
        </label>
      </div>
      <div class="customImage1">
        <input type="radio" name="emotion" id="student" value="profesor" (change)="onItemChange($event.target.value)" class="input-hidden" />
        <label for="student">
          <img
            src="assets/image/profesor-icon.png"
            alt="I'm happy" style="width:300px; height: 300px;"/>
      </label>
      </div>

